.postList {
    margin-top: 20px;
    width: 100%;
    padding-bottom: 50px;
}

.postList div {
    display: inline-block;
}

#postListEndPoint {
    width: 100%;
    height: 30px;
    display: block;
}

#postIsNotExist {
    display: none;
    color: #5A5AFF;
    font-weight: bold;
}