@media screen and (min-width: 541px) {
    .active {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }

    .inactive {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }

    .filter p {
        font-size: 20px;
    }

    .filter div {
        padding: 0 70px 0 70px;
        margin-bottom: 50px;
    }

    .filter {
        padding: 10px 0 50px 0;
    }
}

@media screen and (max-width: 540px) {
    .active {
        width: 60px;
        height: 20px;
        font-size: 10px;
    }

    .inactive {
        width: 60px;
        height: 20px;
        font-size: 10px;
    }

    .filter p {
        font-size: 15px;
    }

    .filter div {
        margin-bottom: 25px;
    }

    .filter {
        padding: 10px 0 10px 0;
    }
}

.filter {
    width: 100%;
    background-color: #5A5AFF;
    display: none;
}

.filter p {
    color: white;
    font-weight: bold;
}

.active {
    background-color: #5A5AFF;
    color: white;
}

.inactive {
    background-color: white;
    color: #5A5AFF;
}

.inactive:hover {
    background-color: #D2D2FF;
}

.button {
    border: solid white;
    border-radius: 9999px;
    font-weight: bold;
    margin: 5px;
}