input {
    width: 80%;
    height: 30px;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    border: none;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: #5A5AFF;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}

input:focus {
    width: 80%;
    outline: none;
    box-shadow: none;
    color: #5A5AFF;
    font-weight: bold;
    font-size: 15px;
}